@charset "UTF-8";

body{
   background-image: linear-gradient( to left, #261311, #7c4a2d, #50402d);
   background-attachment: fixed;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    font: bolder 1em normal Arial, sans-serif;
    border: 5px solid #261311;
    margin: 10px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
}

#h1principal{
    text-align: center;
    text-shadow: 1px 1px 1px #462919;
    color: #BF491F;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}

nav{
    background-color: #D98B48;
    margin: 10px;
    text-align: center;
   
}

nav > a{
    margin-right: 10px;
}

.acabeça{
    margin: 28px;
    font: italic bold 20px Arial, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    border-radius: 10px 0px;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
}

h1{
    background-color: #d6a275;
    text-align: center;
    font: normal bold 1.5em 'Times New Roman', Times, serif;
}

#IA{
    background-color: #f5d2a6;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    font: normal bold 1.5em sans-serif;
    padding: 10px;
    box-shadow: none;
    margin: 10px 0px;
}

p{
    text-indent: 10px;
}
aside{
    background-color:  #d6a275;
    font: normal normal 1.09em serif;
    margin: 10px 0px;
    padding: 2px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.116);
}

#Programação{
    background-color: #cea571;
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius:  50%;
}